body{
    margin: 0;
    padding: 0;
    
}
.container{
    width: 500px;
    min-height: 400px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.container-input{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.container-task{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.container-pending{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 90px;
}